/* SPOTIFY STYLE ALBUM HOVER */

.album-card{
position:relative;
overflow:hidden;
transition:all .45s ease;
}

.album-card::after{
content:"";
position:absolute;
inset:0;
background:linear-gradient(
to top,
rgba(0,0,0,.7),
transparent 60%
);
opacity:0;
transition:.4s;
}

.album-card:hover::after{
opacity:1;
}

.album-card img{
transition:transform .6s ease, filter .6s ease;
}

.album-card:hover img{
transform:scale(1.15);
filter:brightness(.8);
}

.play-overlay{
transition:all .4s ease;
transform:translate(-50%, -40%) scale(.6);
opacity:0;
}

.album-card:hover .play-overlay{
transform:translate(-50%, -50%) scale(1);
opacity:1;
}