/* REALISTIC PHOTOCARD 3D */

.photocard-item{
perspective:1600px;
}

.photocard-inner{
transition:transform .9s cubic-bezier(.25,.46,.45,.94);
transform-style:preserve-3d;
}

.photocard-item:hover .photocard-inner{
transform:rotateY(180deg) rotateZ(2deg);
}

.photocard-front,
.photocard-back{
box-shadow:
0 10px 30px rgba(0,0,0,.2),
0 0 20px rgba(33,150,243,.25);
}

.photocard-front::after{
content:"";
position:absolute;
inset:0;
background:linear-gradient(
120deg,
transparent,
rgba(255,255,255,.3),
transparent
);
opacity:0;
transition:.5s;
}

.photocard-item:hover .photocard-front::after{
opacity:1;
}