/* PARTICLE BACKGROUND */

.particle{
position:fixed;
width:6px;
height:6px;
background:#64b5f6;
border-radius:50%;
opacity:.4;
pointer-events:none;
animation:floatParticle linear infinite;
}

@keyframes floatParticle{

0%{
transform:translateY(100vh);
opacity:0;
}

10%{
opacity:.6;
}

100%{
transform:translateY(-100vh);
opacity:0;
}

}